@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));
*,
body,
html {
  box-sizing: border-box;
}
:root {
  --primary: 57, 190, 247;
  --background: 245, 245, 247;
  --foreground: 255, 255, 255;
}

:root[class~="dark"] {
  --primary: 56, 189, 248;
  /* --secondary: 235, 248, 254; */
  --background: 11, 17, 33;
  --foreground: 17, 24, 38;
}

@theme inline {
  --default-font-family: "Inter", sans-serif;
  --color-primary: rgb(var(--primary));

  --color-background: rgb(var(--background));
  --color-foreground: rgb(var(--foreground));
}
@layer base {
  ::-webkit-scrollbar {
    width: 8px; /* 'scrollbar-thin' */
    height: 8px;
    scrollbar-gutter: stable;
  }

  ::-webkit-scrollbar-track {
    background: #f1f5f9;
    scrollbar-gutter: stable;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #3b82f6;
    border-radius: 4px;
  }

  .dark ::-webkit-scrollbar-track {
    background: #1f2937;
  }

  .dark ::-webkit-scrollbar-thumb {
    background-color: rgb(var(--primary), 40);
  }
}

@layer utilities {
  .sm\:.no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .sm\:no-scrollbar {
    -ms-overflow-style: none;

    scrollbar-width: none;
  }
}
